<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/layui.css}" href="static/h-ui/css/layui.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/blue/skin.css}" href="static/h-ui.admin/skin/blue/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" href="static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" href="static/h-ui/css/H-ui.min.css" />
	<title>第三方支付</title>
</head>
<body>
	<article class="page-container">
        <form class="form form-horizontal"    th:action="@{/pay/pay}" method="post" target="_blank">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-5"><h3>支付演示（参数必填）</h3></label>
            </div>
            <br/>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">支付方式：</label>
                <div class="formControls col-xs-7 col-sm-8 skin-minimal">
                    <div class="radio-box" >
                        <input type="radio" id="sex-1" name="payType" value="1" checked="checked"/>支付宝
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-0" name="payType" value="2" />微信
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-2" name="payType" value="3" />银联
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">唯一订单号：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  th:value="${orderId}" name="outTradeNo" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">总金额：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="totalFee" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="txnTimeDiv">
                <label class="form-label col-xs-4 col-sm-3">订单发送时间：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text" th:value="${txnTime}"  id="txnTime" name="txnTime" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="subjectDiv">
                <label class="form-label col-xs-4 col-sm-3">订单标题：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="subject" id="subject" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-4">
                    <input class="btn btn-primary radius" type="submit" id="pay" value="&nbsp;&nbsp;支付&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
        <br/><hr/>
        <form class="form form-horizontal" action="#" th:action="@{/aliPay/refund}" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-5"><h3>全部或部分退款演示（参数必填）</h3></label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">订单支付方式：</label>
                <div class="formControls col-xs-7 col-sm-8 skin-minimal">
                    <div class="radio-box" >
                        <input type="radio" id="sex-1" name="payTypeRef" value="1" checked="checked"/>支付宝
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-0" name="payTypeRef" value="2" />微信
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-2" name="payTypeRef" value="3" />银联
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">唯一订单号：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="outTradeNo" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="outRequestNoDiv">
                <label class="form-label col-xs-4 col-sm-3">退款单号：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="outRequestNo" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">退款金额：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="refundAmount" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="totalAmountDiv">
                <label class="form-label col-xs-4 col-sm-3">订单金额：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="totalAmount" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="origQryIdDiv">
                <label class="form-label col-xs-4 col-sm-3">原交易流水号：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="origQryId" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-4">
                    <input class="btn btn-primary radius" id="refund" type="button" value="&nbsp;&nbsp;退款&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
	</article>
<script type="text/javascript" th:src="@{jquery.min.js}" src="jquery.min.js" ></script>
<script>
    changePayType();
    changePayTypeRef();
    $('input[name="payType"]').click(function () {
        changePayType();
    });
    function changePayType(){
        if ($('input[name="payType"]:checked').val() == "3"){
            $('#txnTimeDiv').show();
            $('#subjectDiv').hide();
        }else{
            $('#txnTimeDiv').hide();
            $('#subjectDiv').show();
        }
    }
    $('input[name="payTypeRef"]').click(function () {
        changePayTypeRef();
    });
    function changePayTypeRef(){
        var payTypeRef = $('input[name="payTypeRef"]:checked').val();
        if (payTypeRef == "3"){
            $('#origQryIdDiv').show();
            $('#outRequestNoDiv').hide();
            $('#totalAmountDiv').hide();
        }else if(payTypeRef == "2"){
            $('#totalAmountDiv').hide();
            $('#outRequestNoDiv').show();
            $('#totalAmountDiv').show();
        }else{
            $('#totalAmountDiv').hide();
            $('#origQryIdDiv').hide();
            $('#outRequestNoDiv').show();
        }
    }
    $('#refund').click(function () {
        $.ajax({
            type: 'POST',
            url: '/pay/refund',
            data:JSON.stringify({
                'payType':$('input[name="payTypeRef"]:checked').val(),
                'outTradeNo':$('#outTradeNo').val(),
                'outRequestNo':$('#outRequestNo').val(),
                'refundAmount':$('#refundAmount').val(),
                'origQryId':$('#origQryId').val(),
                'totalAmount':$('#totalAmount').val()
            }),
            type:'post',
            cache:false,
            dataType:'json',
            contentType:"application/json",  //发送信息至服务器时内容编码类型。
            success: function(data){
                alert(data.message);
                window.location.reload();//页面刷新
            },
            error:function(data) {
                alert("资源访问失败");
            },
        });
    });
</script>
</body>
</html>