<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='renderer' content='webkit' />
    <meta name='renderer' content='ie-stand' />
    <title>人脸考勤系统</title>
    <link th:href="@{/css/login.css}" href="static/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/layui.css}" href="static/h-ui/css/layui.css" />
</head>
<body class="body_bg">
	<div class="whole">
		<div class="title">人脸考勤系统注册</div>
		<form id="form1" th:action="@{/register/add}" action="/login"  method="post" class="form_box" enctype="multipart/form-data">
            <div class='blank_20'></div>
			<div class="input_box">
                <input name="username" type="text" placeholder="请输入用户名" class="input_self"/>
			</div>
			<div class='blank_20'></div>
			<div class="input_box">
                <input name="password" type="password" placeholder="请输入密码" class="input_self"/>
			</div>
            <div class='blank_20'></div>
            <div class="input_box">
                <input name="password1" type="password" placeholder="确认密码" class="input_self"/>
            </div>
            <div class='blank_20'></div>
            <div class="input_box">
                <input name="roleId" type="radio" value="2" checked/>教师
                <input name="roleId" type="radio" value="3"/>学生
            </div>
            <div class="input_box">
                照片：<input name="file" type="file"/>
            </div>
            <div class='blank_20'></div>
            <center>
                <p th:if="${msg != null}" th:text="${msg}" style = "font-size:13px;color:red;"  class="alert"/>
            </center>
			<div class="finish_box" style="text-align: center">
				<input  class="layui-btn  layui-btn-fluid radius" type="submit" style="width: 150px;" value="注册" />
			</div>
		</form>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		$(window).on('resize load',function(){
			var win_height = $(window).height();
			var whole_height = $(".whole").height();
			$(".whole").css('top',win_height/2 - whole_height/2 - 60 + 'px')
			
		})
	})
</script>
</html>