<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>考勤管理 <span
            class="c-gray en">&gt;</span>考勤详情<a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" th:action="@{/admin/checkDetail}" method="post">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>考勤详情列表</legend>
                <div class="layui-field-box">

                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a href="javascript:;"
                           onclick="deleteAll('/admin/checkDetail/deleteAll')"
                           class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						<!--<a href="javascript:;"-->
                           <!--onclick="layer_show('添加','/admin/checkDetail/addBefore',900,500)"-->
                           <!--class="layui-btn  layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>-->
						</span>
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>

                    <div class="cl pd-5 bg-1 bk-gray ">
                        <div class="searchByField">
                                         <input type="input-text" class="input-text" th:value="${searchInfo.title}" name="title" placeholder="搜索考勤标题" sid="checkId"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.userName}" name="userName" placeholder="搜索学生" sid="userId"/>
                                         <!--<input type="input-text" class="input-text" th:value="${searchInfo.status}" name="status" placeholder="搜索状态" sid="status"/>-->
                            <button type="submit"
                                    class="layui-btn  layui-btn-success radius"><i
                                        class="Hui-iconfont">&#xe665;</i> 搜索
                            </button>
                        </div>
                    </div>

                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""/></th>
                            <th width="25">序号</th>
                                <th width="40">考勤标题</th>
                                <th width="40">学生</th>
                                <th width="40">状态</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                            <td colspan="15"><strong>暂无数据</strong></td>
                        </tr>
                        <tr class="text-c" th:each="checkDetail,count:${pageInfo.list}">
                            <td><input type="checkbox" value="1" th:value="${checkDetail.id}"
                                       name="id"/></td>
                            <td th:text="${count.count}"></td>
                                    <td th:text="${checkDetail.title}"></td>
                                    <td th:text="${checkDetail.userName}"></td>
                                    <td th:if="${checkDetail.status eq 0}">缺勤</td>
                                    <td th:if="${checkDetail.status eq 1}">出勤</td>
                            <td class="td-manage">
                                <!--<a title="编辑" href="javascript:;"-->
                                   <!--th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'checkDetail'+'/editBefore/'+${checkDetail.id}+'\',900,500)'"-->
                                   <!--class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>-->
                                <a title="删除" href="javascript:;"
                                   th:onclick="'javascript:deleteById(\'/admin/'+'checkDetail'+'/delete/'+${checkDetail.id}+'\')'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>
    //日期时间范围选择
    laydate.render({

    });
    lay('.timeSpace').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,range: true //或 range: '~' 来自定义分割字符
        });
    });

</script>
</body>
</html>