<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<body>
<nav th:if="${flag eq '1000'}" class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>运输管理 <span
            class="c-gray en">&gt;</span>任务管理<a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<nav th:if="${flag eq '1001'}" class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>运输管理 <span
        class="c-gray en">&gt;</span>调度管理<a class="btn btn-success radius r"
                                            style="line-height:1.6em;margin-top:3px"
                                            href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" th:action="@{/admin/task}" method="post">
        <input type="hidden" th:value="${flag}" name="flag"/>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend th:if="${flag eq '1000'}">任务列表</legend>
                <legend th:if="${flag eq '1001'}">调度列表</legend>
                <div class="layui-field-box">

                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a th:if="${flag eq '1000'}" href="javascript:;"
                           onclick="deleteAll('/admin/task/deleteAll')"
                           class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						<a th:if="${flag eq '1000'}" href="javascript:;"
                           onclick="layer_show('添加','/admin/task/addBefore',900,500)"
                           class="layui-btn  layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
						</span>
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>

                    <div class="cl pd-5 bg-1 bk-gray ">
                        <div class="searchByField">
                                         <input type="input-text" class="input-text" th:value="${searchInfo.startCity}" name="startCity" placeholder="搜索起点城市" sid="startCityId"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.endCity}" name="endCity" placeholder="搜索终点城市" sid="endCityId"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.name}" name="name" placeholder="搜索任务名称" sid="name"/>
                            <button type="submit"
                                    class="layui-btn  layui-btn-success radius"><i
                                        class="Hui-iconfont">&#xe665;</i> 搜索
                            </button>
                        </div>
                    </div>

                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""/></th>
                            <th width="25">序号</th>
                            <th width="40">任务名称</th>
                                <th width="40">起点城市</th>
                                <th width="40">终点城市</th>
                                <th width="40">任务日期</th>
                                <th width="40">货物名称</th>
                            <th width="40">车辆编号</th>
                                <th width="40">状态</th>


                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                            <td colspan="15"><strong>暂无数据</strong></td>
                        </tr>
                        <tr class="text-c" th:each="task,count:${pageInfo.list}">
                            <td><input type="checkbox" value="1" th:value="${task.id}"
                                       name="id"/></td>
                            <td th:text="${count.count}"></td>
                            <td th:text="${task.name}"></td>
                                    <td th:text="${task.startCity}"></td>
                                    <td th:text="${task.endCity}"></td>
                                    <td th:text="${task.taskDate}"></td>
                                    <td th:text="${task.goodsBatch}"></td>
                            <td th:text="${task.code}"></td>
                                    <td th:if="${task.status eq 0}">未开始</td>
                                    <td th:if="${task.status eq 1}">进行中</td>
                                    <td th:if="${task.status eq 2}">已结束</td>


                            <td class="td-manage">
                                <a th:if="${task.status eq 0 and flag eq '1000'}" title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'task'+'/editBefore/'+${task.id}+'\',900,500)'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                <a th:if="${task.status eq 0 and flag eq '1000'}" title="删除" href="javascript:;"
                                   th:onclick="'javascript:deleteById(\'/admin/'+'task'+'/delete/'+${task.id}+'\')'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                <a  th:if="${task.status eq 0 and flag eq '1001'}" title="开始调度" href="javascript:;"
                                   th:onclick="'javascript:diaoS(\'/admin/'+'task'+'/diao/'+${task.id}+'/1\')'"
                                   class="ml-5" style="text-decoration:none">开始调度</a>
                                <a  th:if="${task.status eq 1 and flag eq '1001'}" title="结束调度" href="javascript:;"
                                    th:onclick="'javascript:diaoE(\'/admin/'+'task'+'/diao/'+${task.id}+'/2\')'"
                                    class="ml-5" style="text-decoration:none">结束调度</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>
    //日期时间范围选择
    laydate.render({

    });
    lay('.timeSpace').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,range: true //或 range: '~' 来自定义分割字符
        });
    });

    function diaoS(url){
        layer.confirm('确认开始调度吗？',function(index){
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function(data){
                    if(data.code == "0"){
                        layer.designMsg('开始调度成功!',1,function(){
                            window.location.reload();
                        });
                    }else{
                        layer.designMsg('开始调度失败!');
                    }
                },
                error:function() {
                    layer.designMsg('开始调度异常!',5);
                },
            });
        });
    }
    function diaoE(url){
        layer.confirm('确认要结束调度吗？',function(index){
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function(data){
                    if(data.code == "0"){
                        layer.designMsg('结束调度成功!',1,function(){
                            window.location.reload();
                        });
                    }else{
                        layer.designMsg('结束调度失败!');
                    }
                },
                error:function() {
                    layer.designMsg('结束调度!',5);
                },
            });
        });
    }
</script>
</body>
</html>