<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-charts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/echarts/css/H-ui.min.css}" href="/echarts/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/echarts/css/index.css}" href="/echarts/css/index.css" />
    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/echarts/js/echarts.min.js}" src="echarts/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/echarts/js/china.js}" src="echarts/js/china.js}"></script>
    <style type="text/css">
        .BMap_cpyCtrl {
            display: none;
        }
        .anchorBL {
            display: none;
        }
    </style>
</head>
<body>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div id="echart-c" class="echart-height" style="width: 1000px;height: 600px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">


    // 基于准备好的dom，初始化echarts实例
    var ChartC = echarts.init(document.getElementById('echart-c'));

    // 指定图表的配置项和数据
    var optionc = {
        title: {
            text: '各专业就业一年平均工资',
            left: 'center',
            top:'93%'
        },
        legend: {
            top: '25',
            data: ['就业一年平均工资']
        },
        tooltip: {
            trigger: 'axis',
        },
        xAxis: {
            type: 'category',
            data:['转件工程','数学','新闻','土木','外语','物理','网络工程','化学']
        },
        yAxis: {
            type:'value',
            axisLabel: {
                show: true,
                interval: 'auto',
                formatter:'{value} (K)'
            },
        },
        series: [
            {
                name:'就业一年平均工资',
                type: 'line',
                label:{
                    normal:{
                        show:true,
                        position:'top',
                    }
                },
                data:['15','8','10','6','11','17','5','10']
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    ChartC.setOption(optionc);



    window.onresize = function () {
        ChartC.resize();
    }
</script>
</body>

</html>