<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>追踪与定位管理 <span
            class="c-gray en">&gt;</span>追踪与定位<a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" th:action="@{/admin/gps}" method="post" enctype="multipart/form-data">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <hr style="margin: 0">
                <div class="cl pd-5 bg-1 bk-gray ">
                    <div class="searchByField">
                        <input type="file" name="file"/>
                        <button type="submit"
                                class="layui-btn  layui-btn-success radius"><i
                                class="Hui-iconfont">&#xe665;</i> 搜索
                        </button>
                    </div>
                </div>
                <hr>
                <legend>追踪与定位</legend>
                <div id="main" style="height:1000px;"></div>
            </fieldset>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"/>
<script  th:src="@{/js/echarts/echarts.min.js}" src="/js/echarts/echarts.min./js"></script>
<script  th:src="@{/js/echarts/beijing.js}" src="/js/echarts/beijing.js"></script>
<script type="text/javascript" th:inline="javascript">
    var flag = [[${flag}]];
    var users = [[${users}]];
    var dataLines = [];
    if(flag == "1001"){
        alert("照片中不包含人脸！");
    }else if (flag == "1002") {
        if (users.length == 0) {
            alert("未匹配到相似的人脸！");
        }
        for (var i = 0; i < users.length; i++) {
            console.log(users[i]);
            if (users.length  == 1) {
               alert("相似的人为："+users[i].name);
            }else if (users.length  == 2) {
                dataLines.push({
                    fromName: users[i].name,
                    toName: users[i+1].name,
                    coords: [
                        [users[i].lon,users[i].lat],
                        [users[i+1].lon,users[i+1].lat]
                    ]
                });
            }else if (users.length  > 2) {
                if (i == users.length-1) {
                    dataLines.push({
                        fromName: users[i].name,
                        toName: users[0].name,
                        coords: [
                            [users[i].lon,users[i].lat],
                            [users[0].lon,users[0].lat]
                        ]
                    });
                }else{
                    dataLines.push({
                        fromName: users[i].name,
                        toName: users[i+1].name,
                        coords: [
                            [users[i].lon,users[i].lat],
                            [users[i+1].lon,users[i+1].lat]
                        ]
                    });
                }

            }
        }
    }
    var persons = [[${persons}]];
    var data = [];
    for (var i = 0; i < persons.length; i++) {
        console.log(persons[i]);
        data.push({
            name: persons[i].name,
            value: [persons[i].lon,persons[i].lat,'<img  style="width:200px;height:200px;"src="'+persons[i].photo+'"/>']
        });
    }
    console.log(data);
    // data.push();
    var chart = echarts.init(document.getElementById('main'));
    chart.setOption({
        title : {
            text: '北京市追踪与定位',
            left: 'center'
        },
        geo: {
            map: '北京',
            label: {
                emphasis: {
                    show: false
                }
            },
        },
        tooltip: {
            trigger: 'item',
            formatter: function (params) {
                if (params.value[2]){
                    return params.name + ' : ' + params.value[2];
                }
                return params.name;
            }
        },
        series: [
                {
                    type: 'map',
                    map: '北京',
                    symbolSize: 12,
                    zoom:1.2,
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data:[]
                },
                {
                type: 'effectScatter',
                map: '北京',
                coordinateSystem: 'geo',
                zoom:2,
                data:data,
                symbolSize: 12,
                label: {
                    normal: {
                        formatter: '{b}',
                        show: true,
                        position: 'right',
                    },
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#39f627',
                    },
                    label: {
                        show: true,
                    }
                }
            },
            {
                type: 'lines',
                map: '北京',
                coordinateSystem: 'geo',
                zlevel: 2,
                large: true,
                effect: {//红色箭头
                    show: true,
                    period: 6,
                    trailLength: 0.1,
                    color: '#0fff17',
                    symbol: 'arrow',
                    symbolSize: 8
                },
                lineStyle: {
                    normal: {
                        color: '#0fff17',
                        width: 2,
                        opacity: 1.0,
                        curveness: 0.15
                    }
                },
                data:dataLines,
            }
        ],
    });
</script>
</body>
</html>